$transition: all 300ms ease-in-out;

$rssl-blue: #009DFF;
$rssl-light-grey: #E3E3E3;
$rssl-dark-grey: #707070;

//new rssl colours
$rssl-timberwolf: #CFDBD5;
$rssl-alabaster: #E8EDDF;
$rssl-maize: #F5CB5C;
$rssl-eerie-black: #242423;
$rssl-jet-black: #333533;
$rssl-nhl-organge: #F7931E;

$max-width: 1400px;

$global-left-margin: 6vw;

$screen-xs: 320px;
$screen-sm: 768px;
$screen-md: 992px;
$screen-lg: 1200px;
$screen-xl: 1400px;

//FONTS
$titlefont: 'Questrial', sans-serif;
$defaultfont: 'Roboto', sans-serif;