@import './../../styles/variables.scss';
@import './../../styles/mixins.scss';

footer{
    flex-shrink: 0;
    display: flex;
    align-items: center;
    height: 90px;
    background-color: $rssl-light-grey;
    padding-left: $global-left-margin;
    padding-right: $global-left-margin;
    .footer-inner{
        p{
            margin: 0;
            padding: 0;
            text-align: left;
            @include font-size(1.1);
            line-height: 15px;
        }
    }
}