@import './styles/variables.scss';
@import './styles/mixins.scss';

html{
  font-size: 62.5%;
}

html,body{
  width: 100%;
  height: 100%;
  background-color: $rssl-light-grey;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
div,
section{
    margin: 0;
    padding: 0;
}
.App {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  @include defaultFont(normal,1.5,$rssl-eerie-black);

  main{
    flex-grow: 1;
    flex-shrink: 0;
    height: calc(100vh - 260px);
    padding: 50px $global-left-margin;
    overflow-x: scroll;
    //height: 1000px;
    h1{
      margin-bottom: 30px;
      text-align: center;
      @include titleFont(bold,3,$rssl-eerie-black);

      @media screen and (min-width: $screen-md){
        text-align: left;
        @include titleFont(bold,5,$rssl-eerie-black);
      }
    }

    h4{
      @include titleFont(bold,2,$rssl-eerie-black);
      margin-bottom: 20px;
    }

    p{
      margin-bottom: 20px;
    }
    
    .wrapper{
      max-width: 1200px;
    }
    
  }
}