@import './styles/variables.scss';
@import './styles/mixins.scss';

html{
  font-size: 62.5%;
}

html,body{
  width: 100%;
  height: 100%;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
div,
section{
    margin: 0;
    padding: 0;
}
.App {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  @include defaultFont(normal,1.5,#000);

  main{
    flex-grow: 1;
    flex-shrink: 0;
    height: calc(100vh - 260px);
    padding: 50px $global-left-margin;
    //height: 1000px;
    h1{
      margin-bottom: 30px;
      text-align: center;
      @include titleFont(bold,3,#000);

      @media screen and (min-width: $screen-md){
        text-align: left;
        @include titleFont(bold,5,#000);
      }
    }
  }
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
