@import './../../styles/variables.scss';
@import './../../styles/mixins.scss';

header{
    flex-shrink: 0;
    background-color: black;
    height: 70px;
    display: flex;
    align-items: center;
    padding-left: $global-left-margin;
    position: sticky;
    top: 0;
    img{
        display: flex;
        width: 50px;
        margin-right: 30px;
    }
    nav{
        height: 100%;
        display: flex;
        align-items: center;
        a{
            color: white;
            font-weight: bold;
            text-decoration: none;
            text-decoration-color: transparent;
            transition: $transition;
            @include titleFont(normal,1.8,#fff);
            &:not(:last-child){
                margin-right: 20px;
            }

            &:not(.active){
                &:hover{
                    color: $rssl-blue;
                }
            }
            &.active{
                color: $rssl-blue;
                text-decoration: underline;
                text-underline-offset: 7px;
                text-decoration-thickness: 2px;
            }

            @media only screen and (min-width: $screen-sm){
                @include font-size(2.2);
            }
        }
    }
}